body 
{
  background-color: #06283D;
  color: #DFF6FF;
  font-family: 'Open Sans', sans-serif;
}

/* App component */

#app 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

#app h1 
{
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

#app p 
{
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

/* UserInput component */

#user-input
{
  margin-top: 10px;
}

#user-input #button-container
{
  text-align: center;
}

#user-input #submit-button 
{
  background-color: #1363DF;
  color: #DFF6FF;
  border: none;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: 120ms ease-in-out;
}

#user-input #submit-button:hover
{
  opacity: 0.7;
}

.user-input-container
{
  display: flex;
  flex-direction: column;
}

.user-input-container:not(:first-child) label
{
  margin-top: 10px;
}

.user-input-container label
{
  font-weight: 300;
  font-size: 1rem;
}

.user-input-container input 
{
  margin-top: 3px;
  width: 150px;
  background-color: #DFF6FF;
  border-radius: 3px;
  border: none;
  padding: 5px;
}

.user-input-container input:focus
{
  outline-color: #1363DF;
}

/* ShowData component */

#show-data 
{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  gap: 20px;
}

#show-data h2 
{
  font-size: 1.2rem;
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
}

#show-data b 
{
  font-size: 1.6rem;
  font-weight: 300;
}

/* Media Queries */

@media only screen and (min-width: 1000px)
{
  .flexbox-container
  {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
  }

  #user-input
  {
    margin-top: 0px;
  }

  #show-data
  {
    margin: 0px;
  }

  #show-data h2 
  {
    margin-top: 0px;
  }
}